<div class="main">
  <button class="go-to-videos-btn" (click)="goToGetVideos()">
    Back to Get Videos
  </button>

  <div class="upload-container">
    <h2>Upload Your Video</h2>
    <form enctype="multipart/form-data">
      <div class="form-group">
        <input
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          accept="video/*"
          [disabled]="progress?.status === 0"
        />
      </div>
    </form>
  </div>
</div>

   <app-progress
    *ngIf="isUploading && progress"
    [progress]="progress.progress"
    [uploadState]="progress"
    [uploading]="isUploading"
    (abort)="onCancelUpload()">
  </app-progress>